body {
  background:#babdbe;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color:#62757f;
  paddimg:70px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  border-bottom: 1px solid #e3e3e3
}

.account-img {
  height: 125px;
  width: 125px;

}

.account-heading {
  font-size: 2.5rem;
}
.pad{
  margin-bottom: 3%;
  
}
.card{
  background: transparent;
}
.img{
 margin:2%;
}