{% extends "layout.html" %}
{% block content %}
<h1>RANDOM  BLOGS</h1>
<hr>
{% for post in posts %}
<div class="pad">
  <article class="card">
    <div class="card-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
</div>

{% endfor %}
{% endblock content %}